<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> I <3 forms </title>
  </head>
  <body>
    <h1>Who doesn't love a good form ?</h1>
    <p> Please login <button><a href='/users/new'>Here</button> </p>
  </body>
</html>
